<!DOCTYPE html>
<html>

<head>
  <%- include('pages/head'); %>
</head>

<body>
          <%- include ('pages/header'); %>
<% if(typeof message!='undefined'){ %>
  <span> <%= message %> </span>
  <% } %>
          <div class="container-fluid">
            <span> <%= signin %> </span>
            <% if(signin==true){ %>
              <%- include ('pages/registerform'); %>
              <%}%>
            
          </div>
          <ul>
            <%if(typeof usrlst!='undefined'){%>
            <% usrlst.forEach(function(user){ %>
            <li><%=user.id %></li>  
            <li><%=user.fulname %></li>  
            <li><%=user.email %></li>  
            <li><%=user.isactive %></li>  
       
            <% }); %>
            <%}%>
          </ul>

</body>

</html>